@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */
*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #d4b800;
}
.dark-3{
    color: #757575;
}
.dark-2{
    color: #474747;
}
.dark-1{
    color: #181818;
}
.bg-secondary{
    background-color: #FFF8F3;
}
.btn-primary{
    font-size: 20px;
    padding: 18px 36px;
    background-color: #d4b800;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.btn-secondary{
    font-size: 20px;
    padding: 18px 36px;
    background-color: transparent;
    border: 1px solid #d4b800;
    color: #d4b800;
    font-weight: bold;
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-des{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 36px;
    line-height: 28px;
}
.text-center{
    text-align: center;
}
/* Nav Style start  */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 700;
}
nav .nav-color{
    color: #d4b800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none; 
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    
}



/* banner style start  */
.banner{
    display: flex;
    margin: 0px 200px;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 680px;
}

.banner-content .greeting{
    font-size: 45px;
    font-weight: 500;
}
.banner-content .title{
    font-size: 85px;
    font-weight: bolder;
}
.banner-content {
    font-size: 18px;
    font-weight: 400;
}
.banner-content .description{
    margin: 20px 0;
}
.banner-content .btn-primary{
    margin-right: 20px;
}
.image img{
    width: 100%;
}

/* main styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section style strat  */
.about{
    margin: 100px 0px;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
}
.item-description{
    font-weight: 600;
    font-size: 20px;
}



/* skill section style start  */
.skills-container{
    display: flex;
    justify-content: space-around;
    gap: 36px;
}
.skills-container .skill{
    padding: 50px 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.108);
    border-radius: 6px;
}
.skills-container .skill-title{
    margin: 20px 0;
}


/* A summary of My Resume */

.summary-section{
    margin: 130px auto;
}
.resume-container{
    display: flex;
    gap: 24px;
    margin: 100px 0 50px 0;
}
.experience{
    margin: 26px 0 20px 0;
}
.resume-column-title{
    font-size: 30px;
    color: #181818;
}
.experience-title{
    font-size: 24px;
    color: #181818;    
    margin-bottom: 10px;
}
.experience-sub-title{
    font-size: 20px;
    color: #474747;    
    margin-bottom: 20px;
}
.experience-description {
    font-size: 16px;
    color: #474747;
}
